[Hook Overrides]
# Make sure Manifest files are valid.
manifest_check: true

[Hook Scripts]
account_checks = profiles/base/accounts/display-accts.py --lint
cros format = cros format --check --commit ${PRESUBMIT_COMMIT} ${PRESUBMIT_FILES}
